.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}



.mat-column-rank {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}


.mat-column-model {
    font-weight: bold;
}